.app {
}

.app__container {
  display: flex;
  flex: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.panel {
  flex: 1;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
}
