.app {
  background-image: url("/app_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app__backgroundOverlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.app__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}
